p {
    height: 50px;
}

span {
    position: relative;
    bottom: 0;
}

.badge-orange {
    background-color: orangered;
    color: white;
}

.font-icon-detail {
    p {
        font-size: 1em;
    }
}

.btn-dssbi {
    background-color: #2580c0;
}
.btn-espgti {
    background-color: #43ab5e;
}


.btn-light {
    background-color: whitesmoke;
    color: orangered;
    border-radius: 15px;
}