p {
    height: 50px;
}

span {
    position: relative;
    bottom: 0;
}

.badge-orange {
    background-color: orangered;
    color: white;
}

.font-icon-detail {
    p {
        font-size: 1em;
    }
}