<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Conteúdos para você</h5>
          <p class="category">Aproveite sem moderação</p>
        </div>
        <div class="card-body all-icons">
          <div class="row">
            <div class="font-icon-list col-lg-3 col-md-4 col-sm-5 col-xs-7 col-xs-7">
              <div class="font-icon-detail">
                <a href="assets/html/masod.html"><i class="now-ui-icons ui-1_send"></i></a>
                <a href="assets/html/masod.html">
                  <p>Em Direção à Modelagem e Arquitetura de Soluções Orientadas a Dados</p>
                </a>
                <span class="badge badge-danger">PDF</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>