<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Self-Service</h2>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Conteúdos para você</h5>
          <p class="category">Aproveite sem moderação</p>
        </div>
        <div class="card-body all-icons">
          <div class="row" align="center">
            <div class="col-md-12">
            <app-self-curso *ngIf="!isLoading" [curso]="cursoSelected"></app-self-curso>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BSS-BI Background -->
<div class="modal fade" id="dssbi-background" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>DSS-BI Background</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" align="center">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <img class="card-img-top">
                <div class="card-body">
                  <img class="card-img-top" src="assets/img/logoBigData.jpg">
                  <a data-toggle="collapse" href="#bigdata" role="button" aria-expanded="false" aria-controls="bigdata">
                    Revisão de Big Data
                  </a>
                  <div class="collapse" id="bigdata">
                    <div class="card-body">
                      <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="nav-conteudo-tab" data-toggle="tab"
                            href="#nav-conteudo-dssbi" role="tab" aria-controls="nav-conteudo"
                            aria-selected="true">Conteúdo</a>
                          <a class="nav-item nav-link" id="nav-atividades-tab" data-toggle="tab"
                            href="#nav-atividades-dssbi" role="tab" aria-controls="nav-atividades"
                            aria-selected="false">Atividades</a>
                        </div>
                      </nav>
                      <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-conteudo-dssbi" role="tabpanel"
                          aria-labelledby="nav-conteudo-tab">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <a href="https://ensino.ead.ufg.br/pluginfile.php/168950/mod_folder/content/0/Big%20Data/1.Introdu%C3%A7%C3%A3o.pdf?forcedownload=1"
                                target="_blank"><img class="pdf-icon" src="assets/img/pdf.png">Introdução</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://www.youtube.com/watch?v=4eA9Z1ii2Uw&feature=youtu.be"
                                target="_blank"><img class="pdf-icon" src="assets/img/youtube.png">Introdução</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://www.youtube.com/watch?time_continue=19&v=4Hyk_g1r3DU"
                                target="_blank"><img class="pdf-icon" src="assets/img/youtube.png">O
                                que é Big Data</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://www.youtube.com/watch?time_continue=2&v=pSi88Hsciv8" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">O
                                que é IA</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://ensino.ead.ufg.br/pluginfile.php/168950/mod_folder/content/0/Big%20Data/2.Analise%20de%20Dados%20Cl%C3%A1ssica%20VS%20Big%20Data.pdf?forcedownload=1"
                                target="_blank"><img class="pdf-icon" src="assets/img/pdf.png">Análise Clássica e Big
                                Data</a>
                            </li>
                            <li class="list-group-item"><a
                                href="https://ensino.ead.ufg.br/pluginfile.php/168950/mod_folder/content/0/Big%20Data/3.%20Arquitetura%20de%20Dados.pdf?forcedownload=1"
                                target="_blank"><img class="pdf-icon" src="assets/img/pdf.png">Arquitetura de Dados</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://ensino.ead.ufg.br/pluginfile.php/168950/mod_folder/content/0/Big%20Data/4.%20Analytics.pdf?forcedownload=1"
                                target="_blank"><img class="pdf-icon" src="assets/img/pdf.png">Analytics</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://ensino.ead.ufg.br/pluginfile.php/168950/mod_folder/content/0/Big%20Data/5.Outros%20Aspectos.pdf?forcedownload=1"
                                target="_blank"><img class="pdf-icon" src="assets/img/pdf.png">Outros Aspectos</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://ensino.ead.ufg.br/pluginfile.php/168950/mod_folder/content/0/Big%20Data/6.Cases.pdf?forcedownload=1"
                                target="_blank"><img class="pdf-icon" src="assets/img/pdf.png">Cases</a>
                            </li>
                          </ul>
                        </div>
                        <div class="tab-pane fade" id="nav-atividades-dssbi" role="tabpanel"
                          aria-labelledby="nav-atividades-tab">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <a href="https://ensino.ead.ufg.br/mod/quiz/view.php?id=19677" target="_blank"><img
                                  class="pdf-icon" src="assets/img/pdf.png">Quiz
                                01 - Big Data</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://ensino.ead.ufg.br/mod/quiz/view.php?id=19678" target="_blank"><img
                                  class="pdf-icon" src="assets/img/pdf.png">Quiz
                                02 - Big Data</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <img class="card-img-top">
                <div class="card-body">
                  <img class="card-img-top" src="assets/img/logoBigData.jpg">
                  <a data-toggle="collapse" href="#live09" role="button" aria-expanded="false" aria-controls="live09">
                    Professor Carlos Tibiriçá - Live 09/Abril
                  </a>
                  <div class="collapse" id="live09">
                    <div class="card-body">
                      <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="nav-conteudo-tab" data-toggle="tab"
                            href="#nav-conteudo-dssbi-live09" role="tab" aria-controls="nav-conteudo"
                            aria-selected="true">Conteúdo</a>
                          <a class="nav-item nav-link" id="nav-atividades-tab" data-toggle="tab"
                            href="#nav-atividades-dssbi-live09" role="tab" aria-controls="nav-atividades"
                            aria-selected="false">Atividades</a>
                        </div>
                      </nav>
                      <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-conteudo-dssbi-live09" role="tabpanel"
                          aria-labelledby="nav-conteudo-tab">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <a href="https://youtu.be/NAQIxYZUF0E"
                                target="_blank"><img class="pdf-icon" src="assets/img/youtube.png">Introdução</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/cphlZG2WmX0"
                                target="_blank"><img class="pdf-icon" src="assets/img/youtube.png">BI Conceitos</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/3g7pATdc0PM"
                                target="_blank"><img class="pdf-icon" src="assets/img/youtube.png">Ciência de dados</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/acrK_ba3XR4" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">CRISP   DM e Exemplos</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/_wICuOYRo7A"
                                target="_blank"><img class="pdf-icon" src="assets/img/youtube.png">Exemplos  e desafio</a>
                            </li>
                          </ul>
                        </div>
                        <div class="tab-pane fade" id="nav-atividades-dssbi-live09" role="tabpanel"
                          aria-labelledby="nav-atividades-tab">
                          <ul class="list-group list-group-flush">
                            
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BSS-BI Toolkit -->
<div class="modal fade" id="dssbi-toolkit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>DSS-BI Toolkit</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" align="center">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <img class="card-img-top">
                <div class="card-body">
                  <img class="card-img-top" src="assets/img/gestao.jpeg">
                  <a data-toggle="collapse" href="#gestao" role="button" aria-expanded="false"
                    aria-controls="gestao">
                    Gestão de Projetos em DS e Big Data
                  </a>
                  <div class="collapse" id="gestao">
                    <div class="card-body">
                      <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="nav-conteudo-tab"
                            data-toggle="tab" href="#nav-dssbi-toolkit-conteudo" role="tab"
                            aria-controls="nav-conteudo" aria-selected="true">Conteúdo</a>
                          <a class="nav-item nav-link" id="nav-atividades-tab" data-toggle="tab"
                            href="#nav-toolki-dssbi-atividades" role="tab"
                            aria-controls="nav-atividades" aria-selected="false">Atividades</a>
                        </div>
                      </nav>
                      <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-dssbi-toolkit-conteudo"
                          role="tabpanel" aria-labelledby="nav-conteudo-tab">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <a href="https://youtu.be/M9TOJ6qDsSI" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">Introdução</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/qLskHQYDqvE" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">Porque datascience
                                Parte 1</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/aOL_kzepdQI" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">Porque datascience
                                Parte 2</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/CZmDutyCCc8" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">Porque datascience
                                Parte 3</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/tFueHd68Nqk" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">Antes do projeto
                                Parte
                                1</a>
                            </li>
                            <li class="list-group-item"><a href="https://youtu.be/gGojQgD97eo"
                                target="_blank"><img class="pdf-icon"
                                  src="assets/img/youtube.png">Antes
                                do projeto Parte 2</a></li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/QgLvMNd8ov0" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">Antes do projeto
                                Parte
                                3</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/v5FLbgHTRok" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">Gestão de riscos
                                Parte
                                1</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/VJicc_IBom0" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">Gestão de riscos
                                Parte
                                2</a>
                            </li>
                            <li class="list-group-item"><a href="https://youtu.be/JjjK7HCBDKA"
                                target="_blank"><img class="pdf-icon"
                                  src="assets/img/youtube.png">Gestão de riscos Parte 3</a></li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/NU3zGEFmu0k" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">Aspectos diversos
                                Parte
                                1</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/nFEkt8akAxo" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">Aspectos diversos
                                Parte
                                2</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/ZCGYY4k2e90" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">Aspectos diversos
                                Parte
                                3</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/wMLJabRlE4s" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">Datascience agil</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/-6CofXYTJlY" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">Processos Parte
                                1</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/lWj1Q8uCcGs" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">Processos Parte
                                2</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/hX-N_LvqQyo" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">Checklist</a>
                            </li>
                          </ul>
                        </div>
                        <div class="tab-pane fade" id="nav-toolki-dssbi-atividades" role="tabpanel"
                          aria-labelledby="nav-atividades-tab">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <a href="https://ensino.ead.ufg.br/mod/quiz/view.php?id=19698"
                                target="_blank"><img class="pdf-icon" src="assets/img/pdf.png">Quiz
                                3 DSS - BI</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ESPGTI Background -->
<div class="modal fade" id="espgti-background" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>ESPGTI Background</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" align="center">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <img class="card-img-top" src="assets/img/grc.png">
                <div class="card-body">
                  <a data-toggle="collapse" href="#grc" role="button" aria-expanded="false"
                    aria-controls="grc">
                    Governança, Riscos e Compliance
                  </a>
                  <div class="collapse" id="grc">
                    <div class="card-body">
                      <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="nav-conteudo-tab"
                            data-toggle="tab" href="#nav-espgti-conteudo-grc" role="tab"
                            aria-controls="nav-conteudo" aria-selected="true">Conteúdo</a>
                          <a class="nav-item nav-link" id="nav-atividades-tab" data-toggle="tab"
                            href="#nav-espgti-atividades-grc" role="tab"
                            aria-controls="nav-atividades" aria-selected="false">Atividades</a>
                        </div>
                      </nav>
                      <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-espgti-conteudo-grc"
                          role="tabpanel" aria-labelledby="nav-conteudo-tab">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <a href="https://youtu.be/-ZE0fZB3dtw" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">G,R e C História e
                                evolução</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/Tmr-3_BKgZI" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">G,R e C Os
                                princípios da OCDE</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/gDlGHZVoD5U" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">G,R e C Conflitos de
                                agência</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/AiJmyZEnk0Q" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">G,R e C Conceitos
                                básicos</a>
                            </li>
                            <li class="list-group-item"><a href="https://youtu.be/JKgP2DClXv0"
                                target="_blank"><img class="pdf-icon"
                                  src="assets/img/youtube.png">G,R e C Introdução</a></li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/L1tTbfg5_nc" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">G,R e C Riscos e
                                GRC</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/033Lf3KaJlM" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">G,R e C Conceito de
                                Riscos</a>
                            </li>
                            <li class="list-group-item"><a href="https://youtu.be/LljX2bRRZqc"
                                target="_blank"><img class="pdf-icon"
                                  src="assets/img/youtube.png">G,R e C Definindo Gestão de Riscos
                                Corporativos</a></li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/kIDX0pEB2Ys" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">G,R e C Metodos de
                                Gestão de Riscos</a>
                            </li>
                          </ul>
                        </div>

                        <div class="tab-pane fade" id="nav-espgti-atividades-grc" role="tabpanel"
                          aria-labelledby="nav-atividades-tab">
                          <ul class="list-group list-group-flush">

                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <img class="card-img-top" src="">
                <div class="card-body">
                  <a data-toggle="collapse" href="#live09" role="button" aria-expanded="false"
                    aria-controls="live09">
                    Professor Fábio Gomes Barros - Live 09/Abril
                  </a>
                  <div class="collapse" id="live09">
                    <div class="card-body">
                      <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="nav-conteudo-tab"
                            data-toggle="tab" href="#nav-espgti-conteudo-live09" role="tab"
                            aria-controls="nav-conteudo" aria-selected="true">Conteúdo</a>
                          <a class="nav-item nav-link" id="nav-atividades-tab" data-toggle="tab"
                            href="#nav-espgti-atividades-live09" role="tab"
                            aria-controls="nav-atividades" aria-selected="false">Atividades</a>
                        </div>
                      </nav>
                      <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-espgti-conteudo-live09"
                          role="tabpanel" aria-labelledby="nav-conteudo-tab">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <a href="https://youtu.be/hpU6AVuk2XM" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">Variáveis de Governança Corporativa</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/iku4bIcovsU" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">Fonte financiamento controle</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/_tIqJRJ52ag" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">Legislação e regulação</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/HJ2GPfWy4SE" target="_blank"><img
                                  class="pdf-icon" src="assets/img/youtube.png">Modelos Governança Corporativa</a>
                            </li>
                            <li class="list-group-item"><a href="https://youtu.be/weYt0fgHcVE"
                                target="_blank"><img class="pdf-icon"
                                  src="assets/img/youtube.png">Considerações finais</a></li>
                          </ul>
                        </div>

                        <div class="tab-pane fade" id="nav-espgti-atividades-live09" role="tabpanel"
                          aria-labelledby="nav-atividades-tab">
                          <ul class="list-group list-group-flush">

                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ESPGTI Toolkit -->
<div class="modal fade" id="espgti-toolkit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>ESPGTI Toolkit</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" align="center">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <img class="card-img-top" src="assets/img/logo_strategy.jpg">
                <div class="card-body">
                  <a data-toggle="collapse" href="#strategy" role="button" aria-expanded="false"
                    aria-controls="strategy">
                    Fundamentos de Gerenciamento Estratégico
                  </a>
                  <div class="collapse" id="strategy">
                    <div class="card-body">
                      <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="nav-conteudo-tab"
                            data-toggle="tab" href="#nav-conteudo-espgti" role="tab"
                            aria-controls="nav-conteudo" aria-selected="true">Conteúdo</a>
                          <a class="nav-item nav-link" id="nav-atividades-tab" data-toggle="tab"
                            href="#nav-atividades-espgti" role="tab" aria-controls="nav-atividades"
                            aria-selected="false">Atividades</a>
                        </div>
                      </nav>
                      <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-conteudo-espgti"
                          role="tabpanel" aria-labelledby="nav-conteudo-tab">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <a href="https://drive.google.com/file/d/1wfIwLhJtBfJ3_bDsvzGBi2J9CU3x2u7n/view?usp=sharing"
                                target="_blank"><img class="pdf-icon" src="assets/img/pdf.png">O
                                que é estratégia?</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://www.youtube.com/watch?v=_juySppmmyI&feature=youtu.be"
                                target="_blank"><img class="pdf-icon" src="assets/img/youtube.png">O
                                que é estratégia</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://www.youtube.com/watch?v=OYXrJJ5rLs0&feature=youtu.be"
                                target="_blank"><img class="pdf-icon" src="assets/img/youtube.png">O
                                que é Gestão Estratégica</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://drive.google.com/file/d/1wpjV_5v_n8Mbvx_DFfQaw_3HmIYqV5Ca/view?usp=sharing"
                                target="_blank"><img class="pdf-icon"
                                  src="assets/img/pdf.png">Fundamentos
                                - Gerenciamento Estratégico - Parte I</a>
                            </li>
                            <li class="list-group-item"><a
                                href="https://drive.google.com/file/d/19vz0mLBuBOT8d9stPdOjGXqcqm8tMRli/view?usp=sharing"
                                target="_blank"><img class="pdf-icon"
                                  src="assets/img/pdf.png">Fundamentos
                                - Gerenciamento Estratégico - Parte II</a></li>
                            <li class="list-group-item">
                              <a href="https://drive.google.com/file/d/1TKGyV20I0h3pOKxidhPRYcgOqg2WvQg-/view?usp=sharing"
                                target="_blank"><img class="pdf-icon" src="assets/img/pdf.png">A
                                Disciplina para Atingir Resultados</a>
                            </li>
                          </ul>
                        </div>

                        <div class="tab-pane fade" id="nav-atividades-espgti" role="tabpanel"
                          aria-labelledby="nav-atividades-tab">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <a href="https://ensino.ead.ufg.br/mod/quiz/view.php?id=19663"
                                target="_blank"><img class="pdf-icon" src="assets/img/pdf.png">Quiz
                                01 - GE</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://ensino.ead.ufg.br/mod/quiz/view.php?id=19662"
                                target="_blank"><img class="pdf-icon" src="assets/img/pdf.png">Quiz
                                02 - GE</a>
                            </li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <img class="card-img-top" src="assets/img/logo_strategy.jpg">
                <div class="card-body">
                  <a data-toggle="collapse" href="#posic-strategy" role="button" aria-expanded="false"
                    aria-controls="posic-strategy">
                    Posicionamento Estratégico
                  </a>
                  <div class="collapse" id="posic-strategy">
                    <div class="card-body">
                      <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="nav-conteudo-tab"
                            data-toggle="tab" href="#nav-conteudo-posic-strategy" role="tab"
                            aria-controls="nav-conteudo" aria-selected="true">Conteúdo</a>
                          <a class="nav-item nav-link" id="nav-atividades-tab" data-toggle="tab"
                            href="#nav-atividades-posic-strategy" role="tab" aria-controls="nav-atividades"
                            aria-selected="false">Atividades</a>
                        </div>
                      </nav>
                      <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-conteudo-posic-strategy"
                          role="tabpanel" aria-labelledby="nav-conteudo-tab">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <a href="https://youtu.be/FTEjUQ6thyo"
                                target="_blank"><img class="pdf-icon" src="assets/img/youtube.png">Posicionamento Estratégico - Parte I</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://youtu.be/JXcalHXvT20"
                                target="_blank"><img class="pdf-icon" src="assets/img/youtube.png">Posicionamento Estratégico - Parte II</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://ensino.ead.ufg.br/pluginfile.php/172120/mod_folder/content/0/Template%20Canvas%20-%20modelo%20de%20neg%C3%B3cio.xls?forcedownload=1"
                                target="_blank"><img class="pdf-icon" src="assets/img/pdf.png">Template do BMC Modelo de Negócio</a>
                            </li>
                            <li class="list-group-item">
                              <a href="https://ensino.ead.ufg.br/pluginfile.php/172120/mod_folder/content/0/Matriz%20de%20Ajuste%20de%20Posicionamento%20Estrat%C3%A9gico.ppt?forcedownload=1"
                                target="_blank"><img class="pdf-icon"
                                  src="assets/img/pdf.png">Template da Matriz de P. Estratégico</a>
                            </li>
                          </ul>
                        </div>

                        <div class="tab-pane fade" id="nav-atividades-posic-strategy" role="tabpanel"
                          aria-labelledby="nav-atividades-tab">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <a href="https://ensino.ead.ufg.br/mod/quiz/view.php?id=19699"
                                target="_blank"><img class="pdf-icon" src="assets/img/pdf.png">Quiz03 - Posicionamento Estratégico
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
