<div class="accordion" id="accordionCiclosParent">
    <div class="card">
        <div class="card-header">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#childCiclosAccordion">
                    <img src="{{ curso.img }}">
                </button>
            </h2>
        </div>
        <div id="childCiclosAccordion" class="collapse" data-parent="#accordionCiclosParent">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div *ngFor="let ciclo of ciclos;" class="col-auto">
                        <button [ngClass]="{'btn-selected': ciclo == cicloSelecionado}" type="radio" (click)="setCiclo(ciclo)" class="btn btn-info">{{ ciclo }}º ciclo</button>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div *ngFor="let enfase of curso.enfases;">
                        <button [ngClass]="{'btn-selected': enfase == enfaseSelecionada}" type="button" (click)="setEnfase(enfase)" class="btn btn-info btn-enfase">{{ enfase }}</button>
                    </div>
                </div>

                <div *ngIf="!isLoadingMaterias" class="card-deck justify-content-center">
                    <div *ngFor="let materia of materias;" class="card col-md-3" style="margin-top: 25px;">
                        <a (click)="openConteudoModal(materia)" style="cursor: pointer;">
                            <img src="{{ materia.img }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ materia.nome }}</h5>
                            </div>
                        </a>
                    </div>
                </div>

                <div *ngIf="isLoadingMaterias" class="d-flex justify-content-center">
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="content-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 *ngIf="materiaSelected" class="modal-title" id="exampleModalLabel"><b>{{ materiaSelected.nome }}</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" align="center">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <img *ngIf="materiaSelected" src="{{ materiaSelected.img }}" class="card-img-top" alt="..." style="height: 180px; width: 320px;">
                    </div>
                </div>
                <div class="row justify-content-center" style="margin: 20px;">
                    <div class="col-auto">
                        <ul class="nav nav-tabs" id="conteudoTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#conteudos">Conteúdos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#atividades" >Atividades</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="conteudo">
                            <div class="tab-pane fade show active" id="conteudos" role="tabpanel" aria-labelledby="home-tab">
                                <div *ngFor="let conteudo of conteudos;">
                                    <li style="text-align: left;" class="list-group-item">
                                        <a href="{{conteudo.link}}" target="_blank"><img src="{{ conteudo.formato == 'video' ? 'assets/img/youtube.png' : 'assets/img/pdf.png' }}">
                                            {{ '  ' + conteudo.nome }}
                                        </a>
                                    </li>
                                </div>
                                <div *ngIf="conteudos.length === 0">
                                    <li class="list-group-item">
                                        Sem conteúdo.
                                    </li>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="atividades" role="tabpanel" aria-labelledby="profile-tab">
                                <div *ngFor="let atividade of atividades;">
                                    <li style="text-align: left;" class="list-group-item">
                                        <a href="{{atividade.link}}" target="_blank"><img src="{{ atividade.formato == 'video' ? 'assets/img/youtube.png' : 'assets/img/pdf.png' }}">
                                            {{ '  ' + atividade.nome }}
                                        </a>
                                    </li>
                                </div>
                                <div *ngIf="atividades.length === 0">
                                    <li class="list-group-item">
                                        Sem atividade.
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
