p {
  height: 50px;
}

span {
  position: relative;
  bottom: 0;
}

.badge-orange {
  background-color: orangered;
  color: white;
}

.font-icon-detail {
  p {
    font-size: 1em;
  }
}

.pdf-icon {
  position: absolute;
  left: -15px;
}

.btn-enfase {
  text-align: center;
  width: 120px !important;
  white-space: nowrap;
  overflow: hidden;
  margin: 10px;
  text-overflow: ellipsis;
}
