<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Game</h2>
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="competicao-tab" data-toggle="tab" href="#competicao" role="tab"
        aria-controls="competicao" aria-selected="true">Competição</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="loja-tab" data-toggle="tab" href="#loja" role="tab" aria-controls="loja"
        aria-selected="true">Loja</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="conta-tab" data-toggle="tab" href="#conta" role="tab" aria-controls="conta"
        aria-selected="false">Conta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="guias-tab" data-toggle="tab" href="#guias" role="tab" aria-controls="guias"
        aria-selected="true">Guias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="ranking-tab" data-toggle="tab" href="#ranking" role="tab" aria-controls="Ranking"
        aria-selected="true">Ranking</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="lideres-tab" data-toggle="tab" href="#lideres" role="tab" aria-controls="Lideres"
        aria-selected="true">Líderes</a>
    </li>
  </ul>
</div>

<div class="tab-content container" id="myTabContent">
  <div class="tab-pane fade show active" id="competicao" role="tabpanel" aria-labelledby="competicao-tab">
    <div class="row d-flex justify-content-center">

      <div [ngClass]="{'col-md-12': primeira}" class="col-md-4">
        <div (click)="toogleTemps(1)" class="card temp-card shadow p-3 mb-5 bg-orange rounded  ">
          <div class="row">
            <div style="cursor: pointer;" class="col-md-12">
              1ª Temporada
            </div>
            <div *ngIf="primeira" class="col-md-12">
              <a class="btn btn-blue" target="_blank" href="assets/1aTemporada-bpmn/index.html" role="button">BPMN - 1ª
                Temporada</a>
              <br>
              <div class="chevron">Missão Passport</div>
              <div class="chevron">Missão Curiosity</div>
              <div class="chevron">Missão Discovery</div>
              <div class="chevron">Missão Startup</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div [ngClass]="{'col-md-12': segunda}" class="col-md-4">
        <div (click)="toogleTemps(2)" class="card temp-card shadow p-3 mb-5 bg-orange rounded">
          <div class="row">
            <div style="cursor: pointer;" class="col-md-12">
              2ª Temporada
            </div>
            <div *ngIf="segunda" class="col-md-12">
              <a class="btn btn-blue" target="_blank"
                href="assets/2aTemporada/index.html#diagram/6445c72c-effb-4958-9a08-bb787c172e52" role="button">BPMN -
                2ª
                Temporada</a>
              <br>
              <div class="chevron">Missão Passport</div>
              <div class="chevron">Missão Curiosity</div>
              <div class="chevron">Missão Discovery</div>
              <div class="chevron">Missão Startup</div>
            </div>
          </div>
        </div>
      </div>
      <div [ngClass]="{'col-md-12': terceira}" class="col-md-4">
        <div (click)="toogleTemps(3)" class="card temp-card shadow p-3 mb-5 bg-orange rounded">
          <div class="row">
            <div style="cursor: pointer;" class="col-md-12">
              3ª Temporada
              <div *ngIf="terceira" class="col-md-12">
                <br>
                <div class="chevron">Missão Passport</div>
                <div class="chevron">Missão Curiosity</div>
                <div class="chevron">Missão Discovery</div>
                <div class="chevron">Missão Startup</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div [ngClass]="{'col-md-12': quarta}" class="col-md-4">
        <div (click)="toogleTemps(4)" class="card temp-card shadow p-3 mb-5 bg-orange rounded">
          <div class="row">
            <div style="cursor: pointer;" class="col-md-12">
              4ª Temporada
              <div *ngIf="quarta" class="col-md-12">
                <br>
                <div class="chevron">Missão Passport</div>
                <div class="chevron">Missão Curiosity</div>
                <div class="chevron">Missão Discovery</div>
                <div class="chevron">Missão Startup</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div [ngClass]="{'col-md-12': quinta}" class="col-md-4">
        <div (click)="toogleTemps(5)" class="card temp-card shadow p-3 mb-5 bg-orange rounded">
          <div class="row">
            <div class="col-md-12">
              5ª Temporada
              <div style="cursor: pointer;" *ngIf="quinta" class="col-md-12">
                <br>
                <div class="chevron">Missão Passport</div>
                <div class="chevron">Missão Curiosity</div>
                <div class="chevron">Missão Discovery</div>
                <div class="chevron">Missão Startup</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div [ngClass]="{'col-md-12': sexta}" class="col-md-4">
        <div (click)="toogleTemps(6)" class="card temp-card shadow p-3 mb-5 bg-orange rounded">
          <div class="row">
            <div class="col-md-12">
              6ª Temporada
              <div style="cursor: pointer;" *ngIf="sexta" class="col-md-12">
                <br>
                <div class="chevron">Missão Passport</div>
                <div class="chevron">Missão Curiosity</div>
                <div class="chevron">Missão Discovery</div>
                <div class="chevron">Missão Startup</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div [ngClass]="{'col-md-12': setima}" class="col-md-4">
        <div (click)="toogleTemps(7)" class="card temp-card shadow p-3 mb-5 bg-orange rounded">
          <div class="row">
            <div style="cursor: pointer;" class="col-md-12">
              7ª Temporada
              <div *ngIf="setima" class="col-md-12">
                <br>
                <div class="chevron">Missão Passport</div>
                <div class="chevron">Missão Curiosity</div>
                <div class="chevron">Missão Discovery</div>
                <div class="chevron">Missão Startup</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div [ngClass]="{'col-md-12': oitava}" class="col-md-4">
        <div (click)="toogleTemps(8)" class="card temp-card shadow p-3 mb-5 bg-orange rounded ">
          <div class="row">
            <div style="cursor: pointer;" class="col-md-12">
              8ª Temporada
              <div *ngIf="oitava" class="col-md-12">
                <br>
                <div class="chevron">Missão Passport</div>
                <div class="chevron">Missão Curiosity</div>
                <div class="chevron">Missão Discovery</div>
                <div class="chevron">Missão Startup</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="guias" role="tabpanel" aria-labelledby="guias-tab">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <button type="button" class="btn btn-primary btn-lg btn-costumized">Sumário</button>
          <button type="button" class="btn btn-primary btn-lg btn-costumized">Perfil do ambiente de time e individual</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-primary btn-lg btn-costumized">Pontuação do time e
            individual</button>
          <button type="button" class="btn btn-primary btn-lg btn-costumized">Moeda</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-primary btn-lg btn-costumized">Conquista de time e
            individuais</button>
          <button type="button" class="btn btn-primary btn-lg btn-costumized">Nota</button>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="loja" role="tabpanel" aria-labelledby="loja-tab"></div>
  <div class="tab-pane fade" id="conta" role="tabpanel" aria-labelledby="conta-tab"></div>
  <div class="tab-pane fade" id="ranking" role="tabpanel" aria-labelledby="ranking-tab">
    <div class="container">
      <div class="row">
        <!-- <div class="col-md-12">
          <div style="display: block">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [legend]="barChartLegend" [chartType]="barChartType" [colors]="barColors">
            </canvas>
          </div>
        </div> -->
        <div style="margin-bottom: 30px" class="col-md-12">
          <iframe width="100%" height="806.0325203252032" seamless frameborder="0" scrolling="yes"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQf7z5gBxL_FH35KgMGwcTq6y0HSWPeCVJ2Ys4j5B3CFENxa-PpZkx7I95DJ7JrAwcDZWEeGIwrfaz9/pubchart?oid=1620157974&amp;format=interactive"></iframe>
        </div>
        <div style="margin-bottom: 30px" class="col-md-12">
          <iframe width="100%" height="1136" seamless frameborder="0" scrolling="yes"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQf7z5gBxL_FH35KgMGwcTq6y0HSWPeCVJ2Ys4j5B3CFENxa-PpZkx7I95DJ7JrAwcDZWEeGIwrfaz9/pubchart?oid=1764165277&amp;format=interactive"></iframe>
        </div>
        <div class="col-md-12">
          <iframe width="100%" height="760.8001221681461" seamless frameborder="0" scrolling="yes"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQf7z5gBxL_FH35KgMGwcTq6y0HSWPeCVJ2Ys4j5B3CFENxa-PpZkx7I95DJ7JrAwcDZWEeGIwrfaz9/pubchart?oid=1785083169&amp;format=interactive"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="lideres" role="tabpanel" aria-labelledby="lideres-tab">
    <h3 class="title" align="center">1ª Temporada</h3>
    <hr>
    <br>
    <div class="row">
      <div *ngFor="let lider of lideres" class="col-md-4" align="center">
        <img title="Medalha de Serviços Relevantes" width="100" height="100" src="{{lider.img}}">
        <p><b>{{lider.nome}}</b></p>
        <p><img src="assets/img/medal.png"></p>
        <p>{{lider.time}}</p>
      </div>
    </div>
  </div>
</div>