.img-circle {
    //border-radius: 50%;
    max-width: 80%;
    max-height: 8vh;
}

.nome-times {
    color: #333 !important;
    font-weight: bold;
}

.outros-times {
    max-height: 200px;
}

.list{
  margin-top: 4px;
}
