<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Área de Administrador</h2>
  </div>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#self-service"
        aria-expanded="false" aria-controls="self-service">
        Criar Card Self-Service
      </button>
      <div class="collapse" id="self-service">
        <div class="card card-body">
          <h4>Adicionar Card</h4>
          <br>
          <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="nome" placeholder="Nome">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="img" placeholder="Link da imagem">
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <select class="custom-select" formControlName="formacao"
                    (change)="buscaCiclosEnfase($event.target.value)">
                    <option selected disabled>Formação</option>
                    <option *ngFor="let curso of arrayDados">{{curso.desc}}</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <select formControlName="ciclo" class="custom-select">
                    <option selected disabled>Ciclo</option>
                    <option *ngFor="let ciclo of arrayCiclos">{{ciclo}}</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <select formControlName="enfase" class="custom-select">
                    <option selected disabled>Enfase</option>
                    <option *ngFor="let enfase of arrayEnfase">{{enfase}}</option>
                  </select>
                </div>
              </div>
            </div>
            <hr>
            <h5>Conteúdo Adicionado</h5>
            <div class="form-group">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Link</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Formato</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr formArrayName="arrayObjAprendizagem"
                    *ngFor="let objAprendizagem of formulario.get('arrayObjAprendizagem').controls; let i = index">

                    <td>
                      <div [formGroupName]="i">
                        <input type="text" class="form-control" placeholder="Nome" formControlName="nome">
                      </div>
                    </td>

                    <td>
                      <div [formGroupName]="i">
                        <input type="text" class="form-control" placeholder="Link da Imagem" formControlName="link">
                      </div>
                    </td>

                    <td>
                      <div [formGroupName]="i">
                        <select class="custom-select" formControlName="tipo">
                          <option selected disabled>Tipo</option>
                          <option value="C">Conteúdo</option>
                          <option value="A">Atividade</option>
                        </select>
                      </div>
                    </td>

                    <td>
                      <div [formGroupName]="i">
                        <select class="custom-select" formControlName="formato">
                          <option selected disabled>Formato</option>
                          <option value="video">Vídeo</option>
                          <option value="pdf">PDF</option>
                        </select>
                      </div>
                    </td>

                    <td>
                      <div [formGroupName]="i">
                        <img class="pointer" (click)="decrementaLinha(i)" src="assets/img/remove-symbol.png">
                      </div>
                    </td>

                  </tr>
                </tbody>
                  <img class="pointer" (click)="acrescentaLinha()" src="assets/img/add.png">

              </table>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#ver-self-service"
        aria-expanded="false" aria-controls="ver-self-service">
        Ver Conteúdo Self-Service
      </button>
      <div class="collapse" id="ver-self-service">
        <div class="card card-body">
          <h5>Listagem de Conteúdo</h5>
          <hr>
          <br>
          <div class="row">
            <div *ngFor="let item of itens | async" class="col-md-12">
              <p>{{item.formacao}} - {{item.ciclo}} - {{item.enfase}} - {{item.nome}}
                <button class="btn btn-danger" type="button" (click)="excluirConteudo(item.id)">Excluir</button>
                <button class="btn btn-primary" type="button" data-toggle="modal"
                  (click)="editarConteudo(item.id, true)" data-target="#editarModal">Editar</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Editar Card -->
  <div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <form [formGroup]="formularioEdicao" (ngSubmit)="updateForm()">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Card</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nome" formControlName="nome">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Link da Imagem" formControlName="img">
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <select class="custom-select" formControlName="formacao"
                    (change)="buscaCiclosEnfase($event.target.value)">
                    <option selected disabled>Formação</option>
                    <option *ngFor="let curso of arrayDados">{{curso.desc}}</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <select formControlName="ciclo" class="custom-select">
                    <option selected disabled>Ciclo</option>
                    <option *ngFor="let ciclo of arrayCiclos">{{ciclo}}</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <select formControlName="enfase" class="custom-select">
                    <option selected disabled>Enfase</option>
                    <option *ngFor="let enfase of arrayEnfase">{{enfase}}</option>
                  </select>
                </div>
              </div>
            </div>
            <hr>
            <h5>Conteúdo Adicionado</h5>
            <div class="form-group">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Link</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Formato</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr formArrayName="arrayObjAprendizagemEdicao"
                    *ngFor="let material of formularioEdicao.get('arrayObjAprendizagemEdicao').controls; let i = index">

                    <td>
                      <div [formGroupName]="i">
                        <input type="text" class="form-control" placeholder="Nome" formControlName="nome">
                      </div>
                    </td>

                    <td>
                      <div [formGroupName]="i">
                        <input type="text" class="form-control" placeholder="Link da Imagem" formControlName="link">
                      </div>
                    </td>

                    <td>
                      <div [formGroupName]="i">
                        <select class="custom-select" formControlName="tipo">
                          <option selected disabled>Tipo</option>
                          <option value="C">Conteúdo</option>
                          <option value="A">Atividade</option>
                        </select>
                      </div>
                    </td>

                    <td>
                      <div [formGroupName]="i">
                        <select class="custom-select" formControlName="formato">
                          <option selected disabled>Formato</option>
                          <option value="video">Vídeo</option>
                          <option value="pdf">PDF</option>
                        </select>
                      </div>
                    </td>

                    <td>
                      <div [formGroupName]="i">
                        <img class="pointer" (click)="decrementaLinhaModalEdicao(i)" src="assets/img/remove-symbol.png">
                      </div>
                    </td>

                  </tr>
                </tbody>
                <img class="pointer" (click)="acrescentaLinhaModalEdicao()" src="assets/img/add.png">
              </table>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
              (click)="setFlagModalEditar()">Fechar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </div>