#accordion {
  margin-left: 4vw;
  margin-right: 4vw;
}

.btn.btn-link {
  white-space: normal;
}

.ap-text-card {
  position: absolute; 
  top: 117px;
}

.ap-botao-card {
  position: absolute; 
  bottom: 20px; 
  left: 20px; 
  right: 20px
}