#accordion {
  margin-left: 4vw;
  margin-right: 4vw;
}

.btn.btn-link {
  white-space: normal;
}

.carousel-control-prev-icon, .carousel-control-next-icon  {
  background-color: black;
}

.carousel-control-prev {
  left: -70px;
}

.carousel-control-next {
  right: -70px;
}

.ap-text-card {
  position: absolute; 
  top: 117px;
}

.ap-botao-card {
  position: absolute; 
  bottom: 20px; 
  left: 20px; 
  right: 20px
}