<div class="panel-header">
    <div class="header text-center">
        <h2 class="title">Breaking News</h2>
    </div>
</div>

<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="container text-center my-3">
                <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                    <div class="carousel-inner w-100" role="listbox">
                        <div class="carousel-item row no-gutters active">
                            <div class="col-md-4 float-left">
                                    <div class="card" style="width: 18rem; min-height: 400px;">
                                        <div class="card-body">
                                            <h5 class="card-title"><b>Defesa de TCC ESPGTI</b></h5>
                                            <p style="top: 160px" class="card-tex   t ap-text-card">

                                                    Convite para Defesa de Trabalho Final da Governança e Gestão de Sistemas e
                                                     Tecnologias da Informação - Juliano Morari & Otaviano Augusto Debacker</p>
                                            <a href="https://firebasestorage.googleapis.com/v0/b/posgrad.appspot.com/o/Noticias%2FChamadaDefesaTCC_ESPGTI_04Out19.pdf?alt=media&token=9494a388-7e31-4c1a-b6d7-0c884e585155"
                                                    class="btn btn-primary ap-botao-card" target="_blank">Acesse</a>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-4 float-left">
                                <div class="card" style="width: 18rem; min-height: 400px;">
                                    <div class="card-body">
                                        <h5 class="card-title"><b>As três novas categorias profissionais da era da IA</b></h5>
                                        <p style="top: 160px" class="card-tex   t ap-text-card">Resumo: Entevista sobre o que esperar 
                                            do cenário no mercado de trabalho na era da IA, apresentando três novas categorias profissionais.</p>
                                        <a href="https://mitsloanreview.com.br/post/as-tres-novas-categorias-profissionais-da-era-da-ia?utm_campaign=frontiers_0_-_lista_sas&utm_medium=email&utm_source=RD%20Station"
                                            class="btn btn-primary ap-botao-card" target="_blank">Acesse</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 float-left">
                                <div class="card" style="width: 18rem; min-height: 400px;">
                                    <div class="card-body">
                                        <h5 class="card-title"><b>Os melhores datasets públicos para aprendizado de
                                                máquina e ciência de dados</b></h5>
                                        <p style="top: 160px" class="card-text ap-text-card">Resumo: Quais são os melhores datasets para
                                            aprendizado de máquina? Depois de vasculhar a web por horas a fio, Stacy
                                            Stanford disponibilizou uma lista de dicas valiosa e diversos datasets de
                                            aprendizado de máquina.</p>
                                        <a href="https://towardsdatascience.com/the-50-best-public-datasets-for-machine-learning-d80e9f030279"
                                            class="btn btn-primary ap-botao-card" target="_blank">Acesse</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 float-left">
                                <div class="card" style="width: 18rem; min-height: 400px;">
                                    <div class="card-body">
                                        <h5 class="card-title"><b>Governança Corporativa para Startups & Scale-Ups</b>
                                        </h5>
                                        <p class="card-text ap-text-card">Podemos afrmar que a governança corporativa
                                            contribui para alavancar valor para a empresa, ajudando-a a caminhar mais
                                            longe, mais rápido e com menos risco. A governança também auxilia a
                                            pavimentar o acesso da startup e da scale-up à captação de recursos de
                                            investidores, o que muitas vezes inﬂuencia a velocidade e a consistência de
                                            seu crescimento.
                                        </p>
                                        <a href="https://goneweconomy.com/blog/ibgc-governanca-para-startups"
                                            target="_blank" class="btn btn-primary ap-botao-card">Acesse</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 float-left">
                                <div class="card" style="width: 18rem; min-height: 400px;">
                                    <div class="card-body">
                                        <h5 class="card-title"><b>AULA AO VIVO - LIVE CLASS</b></h5>
                                        <p class="card-text ap-text-card">Veja aqui como vão funcionar as Lives a partir
                                            de agora e também como os jogadores e os time vão pontuar.
                                        </p>
                                        <a href="assets/AulasAoVivoDaSemana.pdf" target="_blank"
                                            class="btn btn-primary ap-botao-card">Acesse</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item row no-gutters">
                            <div class="col-md-4 float-left">
                                <div class="card" style="width: 18rem; min-height: 350px;">
                                    <div class="card-body">
                                        <h5 class="card-title"><b>Estruturas, Processos e Mecanismos de Governança de
                                                TI</b></h5>
                                        <p class="card-text ap-text-card">O que é preciso observar em termos de
                                            capacidades
                                            organizacionais para se estabelecer controles efetivos para implementar a TI
                                            harmônica com o negócio?</p>
                                        <a href="#" class="btn btn-primary ap-botao-card" target="_blank">Acesse</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 float-left">
                                <div class="card" style="width: 18rem; min-height: 350px;">
                                    <div class="card-body">
                                        <h5 class="card-title"><b>Em direção ao Self-Service BI & Analytics</b></h5>
                                        <p class="card-text ap-text-card">É preciso prover o acesso direto ao conteúdo
                                            analítico
                                            relevante em tempo real para que usuários de negócio possam habilitar a
                                            empresa em resposta às demandas intempestivas e emergenciais.
                                        </p>
                                        <a href="http://www.inf.ufg.br/espbi/publicacoes/01.html" target="_blank"
                                            class="btn btn-primary ap-botao-card">Acesse</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 float-left">
                                <div class="card" style="width: 18rem; min-height: 350px;">
                                    <div class="card-body">
                                        <h5 class="card-title"><b>Ativando o futuro digital : velocidade, agilidade e
                                                resiliência</b></h5>
                                        <p class="card-text ap-text-card">A adoção de tecnologias e metodologias de
                                            rápida evolução -
                                            da Cloud, Edge Computing e IoT a DevOps e AIOps - está indo além das
                                            funcionalidades das equipes de infraestrutura e operações, desafiando suas
                                            habilidades.
                                        </p>
                                        <a href="https://www.gartner.com/pt-br/conferences/la/infrastructure-operations-cloud-brazil"
                                            class="btn btn-primary ap-botao-card" target="_blank">Acesse</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="true" aria-controls="collapseTwo">
                                Trabalhos Finais da 1ª Turma de Design de Sistemas e Soluções de Business
                                Intelligence
                            </button>
                        </h5>
                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <ol class="list-group list-group-flush">
                                <li *ngFor="let trabalho of trabalhos; let i = index" class="list-group-item">
                                    <a target="_blank" href="{{trabalho.link}}">
                                        <p>{{i+1}} - {{trabalho.nome}}</p>
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne">
                                8 must-read social innovation reports
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <a target="_blank"
                                href="http://www.socialinnovationacademy.eu/8-must-read-social-innovation-reports/">
                                <p>Acessar link</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>