<div class="panel-header">
    <div class="header text-center">
      <h2 class="title">Breaking News</h2>
    </div>
  </div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">8 must-read social innovation reports</h5>
                </div>
                <div class="card-body all-icons">
                    <a target="_blank"
                        href="http://www.socialinnovationacademy.eu/8-must-read-social-innovation-reports/">
                        <p>Acessar link</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>