<div class="logo">
    <a href="/" class="simple-text logo-mini">
        <div class="logo-img">
            <img src="./assets/img/angular2-logo-white.png" />
        </div>
    </a>
    <a href="/" class="simple-text logo-normal">
        POSGRAD
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <ng-container *ngIf="menuItem.title == 'Dashboard'; else nodashboard">
                <a [routerLink]="[menuItem.path]">
                    <div class="row">
                        <div class="col-8">
                            <i class="now-ui-icons {{menuItem.icon}}"></i>
                            <p>{{menuItem.title}}</p>
                        </div>
                        <div class="col-4">
                            <span class="badge badge-warning">DEMO</span>
                        </div>
                    </div>
                </a>
            </ng-container>
            <ng-template #nodashboard>
                <a *ngIf="menuItem.title != 'Self-Service'; else self" [routerLink]="[menuItem.path]">
                    <i class="now-ui-icons {{menuItem.icon}}"></i>
                    <p>{{menuItem.title}}</p>
                </a>
                <ng-template #self>
                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="now-ui-icons {{menuItem.icon}}"></i>
                        <p>{{menuItem.title}}</p>
                    </a>
                    <div class="dropdown-menu">
                        <button class="dropdown-item" type="button">Explorando</button>
                        <button class="dropdown-item" type="button">Posicionando</button>
                        <button class="dropdown-item" type="button">Preparando</button>
                        <button class="dropdown-item" type="button">Arquitetando</button>
                        <button class="dropdown-item" type="button">Projetizando</button>
                        <button class="dropdown-item" type="button">Operando</button>
                        <button class="dropdown-item" type="button">Decidindo</button>
                        <button class="dropdown-item" type="button">Coordenando</button>
                    </div>
                </ng-template>
            </ng-template>
        </li>
        <li *ngIf="user | async" (click)="logout()" class="nav-item">
            <a>
                <i class="fas fa-sign-out-alt"></i>
                <p>Log Out</p>
            </a>
        </li>
    </ul>
</div>