<div class="logo">
    <a href="/" class="simple-text logo-mini">
        <div class="logo-img">
        </div>
    </a>
    <a href="/" class="simple-text logo-normal">
        Game Learn Sys
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/dashboard">
                <i class="now-ui-icons design_app"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="now-ui-icons shopping_box"></i>
                <p>Self-Service</p>
            </a>
            <div class="dropdown-menu">
                <button *ngFor="let curso of cursos;" [routerLink]="['/self-service', curso.desc]" class="dropdown-item" style="color: orangered;" type="button">{{ curso.desc }}</button>
            </div>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="now-ui-icons education_paper"></i>
                <p>News</p>
            </a>
            <div class="dropdown-menu">
                <button class="dropdown-item" type="button"><a routerLink="/breaking-news">Breaking News</a></button>
                <button class="dropdown-item" type="button"><a routerLink="/notifications">Notificações</a></button>
            </div>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/teamwork">
                <i class="now-ui-icons location_map-big"></i>
                <p>TeamWork</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/game">
                <i class="now-ui-icons tech_controller-modern"></i>
                <p>Game</p>
            </a>
        </li>
        <li *ngIf="user | async" (click)="logout()" class="nav-item">
            <a>
                <i class="fas fa-sign-out-alt"></i>
                <p>Log Out</p>
            </a>
        </li>
    </ul>
</div>
