<nav style="padding-bottom: 0; margin-bottom: 10px;" class="navbar navbar-expand-lg navbar-transparent navbar-absolute bg-primary fixed-top">
  <div class="container-fluid">
    <div style="max-width:100%" class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a *ngIf="!timeBig" class="navbar-brand">{{user.time.id}}</a>
      <a *ngIf="timeBig" class="navbar-brand">{{timeAtivo}}</a>
      <div ngbDropdown class="navbar-brand">
        <button type="button" class="btn btn-default dropdown-toggle btn-simple" ngbDropdownToggle>
          {{title}}
        </button>
        <div ngbDropdownMenu class="dropdown-menu-right">
          <a class="dropdown-item" (click)="toogleFase(fase.id, i)" *ngFor="let fase of fases | async; let i = index">{{fase.id}}</a>
        </div>
      </div>
      <div ngbDropdown>
        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret"
          ngbDropdownToggle>
          <i class="now-ui-icons loader_gear"></i>
        </button>
        <div ngbDropdownMenu class="dropdown-menu-right">
          <a class="dropdown-item" (click)="toogleChartType('line')">Gráfico em Linhas</a>
          <a class="dropdown-item" (click)="toogleChartType('bar')">Gráfico em Barras</a>
          <a class="dropdown-item" (click)="toogleChartType('pie')">Gráfico em Pizza</a>
          <a class="dropdown-item" (click)="toogleChartType('doughnut')">Gráfico em Doughnut</a>
        </div>
      </div>
      <button *ngIf="timeBig" (click)="backYourTime()" type="button" class="btn btn-default btn-simple">
        <i class="fas fa-undo" style="margin-right:1em"></i>Gráfico Principal para seu Time
      </button>
      <button class="navbar-toggler" type="button" (click)="collapse()" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>
    </div>


    <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
            <i class="now-ui-icons users_single-02"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="dropdown-item" routerLink="/user-profile">Minha Conta</a>
            <a style="cursor: pointer" class="dropdown-item" (click)="resetPassword(this.userEmail)">Redefinir Senha</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="panel-header panel-header-lg">
  <canvas style="display:none" #bigChart baseChart [datasets]="lineBigDashboardChartData" [labels]="lineBigDashboardChartLabels"
    [colors]="lineBigDashboardChartColors" [options]="lineBigDashboardChartOptions" [chartType]="lineBigDashboardChartType"
    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
  <ng-container id="chartTimeUser" *ngFor="let fase of fases | async">
    <canvas id="ok" *ngIf="title == fase.id" baseChart [datasets]="arrayPontuacaoBigData" [labels]="lineBigDashboardChartLabels"
      [colors]="lineBigDashboardChartColors" [options]="lineBigDashboardChartOptions" [chartType]="lineBigDashboardChartType"
      (chartHover)="chartHovered($event)" (chartClick)="clickHandler($event, false)"></canvas>
  </ng-container>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{modalbigtitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>{{modaltitle}}</b></p>
        <p><b>Descrição:</b> Descrição da missão.</p>
        <p><b>Nome da Atividade:</b> Atividade X</p>
        <p><b>Pontuação:</b> {{modalbody}}</p>
        <p><b>Feedback:</b> Feedback do avaliador...</p>
        <p><b>Avaliador:</b> Eliomar Araújo</p>
        <p><b>Tipo:</b> Desafio/Meta/Build</p>
        <p><b>Feddback:</b> Feedback do avaliador...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="row">
    <ng-container *ngFor="let time of times | async; let i = index">
      <ng-container *ngIf="time.id != user.time.id && time.id != timeAtivo">
        <div class="col-lg-4">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category" (click)="click()">{{time.id}}</h5>
              <div ngbDropdown>
                <button (click)="goToBigChart(time.id, chartDatas[i], index)" style="margin-right: 10px" type="button" class="btn btn-round btn-default btn-simple btn-icon no-caret">
                  <i class="now-ui-icons arrows-1_minimal-up"></i>
                </button>
                <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret"
                  ngbDropdownToggle>
                  <i class="now-ui-icons loader_gear"></i>
                </button>
                <div ngbDropdownMenu class="dropdown-menu-right">
                  <a class="dropdown-item" (click)="toogleChartTypeTime('line', i)">Gráfico em Linhas</a>
                  <a class="dropdown-item" (click)="toogleChartTypeTime('bar', i)">Gráfico em Barras</a>
                  <a class="dropdown-item" (click)="toogleChartTypeTime('pie', i)">Gráfico em Pizza</a>
                  <a class="dropdown-item" (click)="toogleChartTypeTime('doughnut', i)">Gráfico em Doughnut</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas baseChart [datasets]="chartDatas[i]" [labels]="labelTemporadas[0]" [colors]="lineChartWithNumbersAndGridColors"
                  [options]="lineChartWithNumbersAndGridOptions" [chartType]="chartLines[i]" (chartHover)="chartHovered($event)"
                  (chartClick)="clickHandler($event, time.id)"></canvas>
              </div>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="now-ui-icons ui-1_check"></i> Atualizado
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>

  </div>
</div>