<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Perfil</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input readonly type="email" class="form-control" placeholder="Email" value="{{user.email}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 pr-1">
                <div class="form-group">
                  <label>Nome</label>
                  <input readonly type="text" class="form-control" placeholder="Nome" value="{{user.nome}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Curso</label>
                  <input readonly type="text" class="form-control" placeholder="Curso" value="{{user.curso}}">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img *ngIf="user.curso == 'DSS-BI'; else espgti" src="../assets/img/logo_DSS-BI.jpg" alt="...">
          <ng-template #espgti>
            <img src="../assets/img/logo_ESPGTI.jpg" alt="...">
          </ng-template>
        </div>
        <div class="card-body">
          <div class="author">
            <img class="avatar border-gray" src="{{user.avatar}}" alt="Avatar do Usuário">
            <h5 class="title">{{user.nome}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>